openapi: 3.0.1
info:
  title: Ainized-Mask 
  description:  |
    # This is an API server that detects whether the person in the image is wearing a mask or not. 
    The model used in the server is from [face-api](https://github.com/justadudewhohacks/face-api.js/) and [teachable machine](https://github.com/googlecreativelab/teachable-machine-v1)
    [`API github`](https://github.com/vyvydkf628/ShadeSketch)
    ---
    How to use:
      * send image to MaskDetection server
      * MaskDetection server returns score of detections
  contact:
    name: Ainizer - DongCheol Jwa
    email: popor628@gmail.com
  version: 1.0.0
  license:
    name: "MIT"
    url: ""
servers:
  - url: https://master-mask-detection-vyvydkf628.endpoint.ainize.ai

paths:
  /checkmask:
    post:
      tags:
      - Mask
      requestBody:
        required: true
        description: "send person image \n \n [sample image1](https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) \n \n [sample image2](https://images.unsplash.com/photo-1511870563328-22efd1ad5faf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=916&q=80)"
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary

            encoding:
              files:
                contentType: image/*
      responses:
         '200':
            description: success
            content:
              application/json:
                  schema:
                    type: object
                    properties:
                      result:
                        type: string
         '400':
            description: Bad request (File Not Uploaded)
         '500':
            description: Server Side Error (Model Test Error, File Move Error)

